<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" rel="stylesheet" type="text/css">

</head>

<body>
    auth へようこそ！
    <a href="/">title</a>

    <div id="auth"></div>

    <script>
        // TODO: Replace the following with your app's Firebase project configuration
        // For Firebase JavaScript SDK v7.20.0 and later, `measurementId` is an optional field
        // var config = {
        //     apiKey: "AIzaSyBd0lVP2y9PXw8A0xQCc7C-t7UWgPdk7kY",
        //     authDomain: "recess-web.firebaseapp.com",
        //     databaseURL: "https://recess-web-default-rtdb.firebaseio.com/",
        //     storageBucket: "gs://recess-web.appspot.com"
        // };
        // firebase.initializeApp(config);
    </script>


    <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-app.js"></script>

    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-analytics.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-firestore.js"></script>


    <script>
        // TODO: Replace the following with your app's Firebase project configuration
        // For Firebase JavaScript SDK v7.20.0 and later, `measurementId` is an optional field
        var config = {
            apiKey: "AIzaSyBd0lVP2y9PXw8A0xQCc7C-t7UWgPdk7kY",
            authDomain: "recess-web.firebaseapp.com",
            databaseURL: "https://recess-web-default-rtdb.firebaseio.com/",
            storageBucket: "gs://recess-web.appspot.com"
        };
        firebase.initializeApp(config);
    </script>

  <script type="text/javascript">

  /*
  Firebase Authentcation を使った認証サンプル 02
  Google認証用のオブジェクトを生成
  認証用の関数「signIn」を定義
  サインアウト 用の関数「signOut」を定義
  認証の状態をチェックして、「サインイン」「サインアウト 」のボタンを出し分ける
  */

  const provider = new firebase.auth.GoogleAuthProvider();

  function signIn() {
  firebase.auth().signInWithPopup(provider)
  .then(result => {
      console.log('ログインしました。');

  }).catch(error => {
        const signinError = `
        サインインエラー
        エラーメッセージ： ${error.message}
        エラーコード: ${error.code}
        `
  　　　console.log(signinError);
  });
  }

  function signOut() {
  firebase.auth().onAuthStateChanged(user => {
    firebase
      .auth()
      .signOut()
      .then(() => {
        console.log('ログアウトしました');
        location.reload();
      })
      .catch((error) => {
        console.log(`ログアウト時にエラーが発生しました (${error})`);
      });
  });
  }

  firebase.auth().onAuthStateChanged(user => {
    if (user) {
        const signOutMessage = `
        <p>Hello, ${user.displayName}!<\/p>
        <button class="btn btn-primary" type="submit"  onClick="signOut()">サインアウト<\/button>
        `;
        document.getElementById('auth').innerHTML =  signOutMessage;
        console.log('ログインしています');

    } else {
          const signInMessage = `
          <button class="btn btn-primary" type="submit"  onClick="signIn()">サインイン<\/button>
          `;
          document.getElementById('auth').innerHTML = signInMessage;       
    }
  });

  </script>


</body>

</html>